@{
    var userData = User.GetUserData();
}
<nav class="sidebar-2">
    <div class="sidebar-2-header">
        <img src="~/assets/images/Logo-03.png" alt="Image" class="sidebar-2-image" id="sidebar2-logoicon">
    </div>
    <div class="sidebar-2-user">
        <i class="far fa-user-circle sidebar-2-icon sidebar-2-usericon"></i><span class="sidebar-2-username">Welcome , </span> <br> <span class="sidebar-2-username1">@userData.DisplayName </span>  <span class="sidebar-2-username2">@userData.PositionName </span>
    </div>
    <ul class="sidebar2-ul">
        <li><a href="/" class="sidebar2-selection"><i class="fas fa-home sidebar-2-icon"></i><span class="sidebar-2-nav-item">Home</span></a></li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#InventorySystem" aria-expanded="false" aria-controls="InventorySystem" class="collapsible sidebar2-selection collapsible-main">
                <i class="fas fa-display sidebar-2-icon"></i> <span class="sidebar-2-nav-item">Inventory System</span>
            </a>
            <div id="InventorySystem" class="collapse ui-submenu" aria-labelledby="headingOne">
                <div>
                    <ul>
                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#UM1" aria-expanded="false" aria-controls="UM1" class="collapsible">
                                <i class="fas fa-cube"></i>Master
                            </a>
                            <div id="UM1" class="collapse ui-submenu" aria-labelledby="headingone">
                                <div>
                                    <ul>
                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/inventory/master"><i class="fas fa-user"></i>Inventory Master</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

    
        <li>
            <a href="#" data-toggle="collapse" data-target="#ProductionSystem" aria-expanded="false" aria-controls="ProductionSystem" class="collapsible sidebar2-selection collapsible-main">
                <i class="fas fa-display sidebar-2-icon"></i> <span class="sidebar-2-nav-item">Production System</span>
            </a>
            <div id="ProductionSystem" class="collapse ui-submenu" aria-labelledby="headingOne">
                <div>
                    <ul>
                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#UM1" aria-expanded="false" aria-controls="UM1" class="collapsible">
                                <i class="fas fa-cube"></i>Master
                            </a>
                            <div id="UM1" class="collapse ui-submenu" aria-labelledby="headingone">
                                <div>
                                    <ul>
                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms020">
                                                <i class="fas fa-user"></i> Machine Stop Reason Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms030">
                                                <i class="fas fa-user"></i> Line Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms050">
                                                <i class="fas fa-user"></i> Shift Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms052">
                                                <i class="fas fa-user"></i> Shift Time
                                            </a>
                                        </li>


                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms080">
                                                <i class="fas fa-user"></i> NG Master
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        @* /production/master/pms020 *@


        <li>
            <a href="#" data-toggle="collapse" data-target="#ProductionPerformanceSystem" aria-expanded="false" aria-controls="ProductionPerformanceSystem" class="collapsible sidebar2-selection collapsible-main">
                <i class="fas fa-display sidebar-2-icon"></i> <span class="sidebar-2-nav-item">MES System</span>
            </a>
            <div id="ProductionPerformanceSystem" class="collapse ui-submenu" aria-labelledby="headingOne">
                <div>
                    <ul>
                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#UM1" aria-expanded="false" aria-controls="UM1" class="collapsible">
                                <i class="fas fa-cube"></i>User Management
                            </a>
                            <div id="UM1" class="collapse ui-submenu" aria-labelledby="headingone">
                                <div>
                                    <ul>
                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="User Management List" href="/UserManages/User/Inquiry"><i class="fas fa-user"></i>User Management List</a>
                                        </li>
                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="User Groups Maintenance List" href="/UserManages/UserGroup/Inquiry"><i class="fas fa-users"></i>User Groups Maintenance List</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#Masters" aria-expanded="false" aria-controls="Masters" class="collapsible">
                                <i class="fa-regular fa-database"></i> Master Setting
                            </a>
                            <div id="Masters" class="collapse ui-submenu" aria-labelledby="headingOne">
                                <div>
                                    <ul>

                                        <li>
                                            <a href="/master/linemaster" ria-expanded="false" title="Line Master">  <i class="fa-regular fa-database"></i>  Line </a>
                                        </li>
                                        <li>
                                            <a href="/master/processmaster" ria-expanded="false" title="Process Master">  <i class="fa-regular fa-database"></i> Process </a>
                                        </li>

                                        <li>
                                            <a href="/master/machinemaster" ria-expanded="false" title="Machine Master">  <i class="fa-regular fa-database"></i> Machine </a>
                                        </li>
                                        @* <li>
                                        <a href="/master/shiftmaster" ria-expanded="false" title="Shift Master">  <i class="fa-regular fa-database"></i> Shift </a>
                                        </li> *@
                                        <li class="accordion">
                                            <a href="#" data-toggle="collapse" data-target="#ShiftPattern" aria-expanded="false" aria-controls="ShiftPattern" class="collapsible">
                                                <i class="fa-regular fa-database"></i>  Shift
                                            </a>
                                            <div id="ShiftPattern" class="collapse ui-submenu" aria-labelledby="headingOne">
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <a asp-route="MSM010" ria-expanded="false" title="Shift / Pattern"><i class="fa-regular fa-chart-line"></i> Shift / Pattern </a>
                                                        </li>
                                                        <li>
                                                            <a asp-route="MSM011" ria-expanded="false" title="Shift / Pattern Detail"><i class="fa-regular fa-chart-line"></i> Shift / Pattern Detail </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="/master/modelmaster" ria-expanded="false" title="Part Master">  <i class="fa-regular fa-database"></i> Model / Part </a>
                                        </li>
                                        <li>


                                            <a href="/master/takttimemaster" ria-expanded="false" title="Cycle Time / TaktTime Master">  <i class="fa-regular fa-database"></i> Cycle Time / Takt Time </a>
                                        </li>
                                        <li>
                                            <a href="/master/ngmaster" ria-expanded="false" title="NG Type Master">  <i class="fa-regular fa-database"></i> NG Type </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#Production" aria-expanded="false" aria-controls="Production" class="collapsible">
                                <i class="fa-regular fa-database"></i> Production
                            </a>
                            <div id="Production" class="collapse ui-submenu" aria-labelledby="headingOne">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="/production/productionresult" ria-expanded="false" title="Production Result"> <i class="fa-solid fa-gears"></i> Production Planing / Result </a>
                                        </li>
                                        <li>
                                            <a href="/production/productionquality" ria-expanded="false" title="Production Quality"> <i class="fa-solid fa-gears"></i> Quality </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#Monitoring" aria-expanded="false" aria-controls="Monitoring" class="collapsible">
                                <i class="fa-regular fa-database"></i> Monitoring
                            </a>
                            <div id="Monitoring" class="collapse ui-submenu" aria-labelledby="headingOne">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="/monitoring/machinemonitoring" ria-expanded="false" title="Machine Monitoring"><i class="fa-regular fa-chart-line"></i> Machine Monitoring </a>
                                        </li>
                                        <li>
                                            <a href="/monitoring/machineTV" ria-expanded="false" title="Machine (TV)"> <i class="fa-solid fa-gears"></i> Machine (TV) </a>
                                        </li>
                                        <li>
                                            <a href="/monitoring/MachineTVByOrder" ria-expanded="false" title="Machine By WorkOrder (TV)"> <i class="fa-solid fa-gears"></i> Machine By WorkOrder (TV) </a>
                                        </li>
                                        <li>
                                            <a href="/monitoring/machinedowntime" ria-expanded="false" title="Machine Downtime"> <i class="fa-solid fa-gears"></i> Machine Downtime </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#OEE" aria-expanded="false" aria-controls="Dashboard" class="collapsible">
                                <i class="fa-regular fa-file-chart-column"></i> OEE
                            </a>
                            <div id="OEE" class="collapse ui-submenu" aria-labelledby="headingOne">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="/dashboard/dashboards" ria-expanded="false" title="Dashboard Line Monitoring"><i class="fa-regular fa-chart-line"></i> Line / Process Monitoring </a>
                                        </li>
                                        <li>
                                            <a href="/dashboard/dashboardprodngreason" ria-expanded="false" title="Dashboard Production NG Reason"><i class="fa-regular fa-chart-line"></i> NG Reason </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#HistoryData" aria-expanded="false" aria-controls="HistoryData" class="collapsible">
                                <i class="fa-regular fa-file-chart-column"></i> History Data
                            </a>
                            <div id="HistoryData" class="collapse ui-submenu" aria-labelledby="headingOne">
                                <div>
                                    <ul>
                                        <li>
                                            <a href="/history/downtimehistory" ria-expanded="false" title="Machine Status History"><i class="fa-regular fa-chart-line"></i> Machine Status History </a>
                                        </li>
                                        <li>
                                            <a href="/history/productionhistory" ria-expanded="false" title="Production Order History"><i class="fa-regular fa-chart-line"></i> Production Order History </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </li>

        <li><a href="@Url.Action("Logout", "Account",new { area = "" })" class="sidebar2-selection"><i class="fas fa-sign-out-alt sidebar-2-icon" style="left:0.1px;"></i><span class="sidebar-2-nav-item">Logout</span></a></li>


    </ul>

    <span class="sidebar-2-info">Version 1.02 </span>
    <br>
    <span class="sidebar-2-info1">Last Update : @AssemblyHelper.LastWriteTime(typeof(WEB.APP.Controllers.AppControllerBase).Assembly).ToString("d MMM yyyy HH:mm") </span>

</nav>