@{
    var userData = User.GetUserData();
}
<nav class="sidebar-2">
    <div class="sidebar-2-header">
        <img src="~/assets/images/Logo-03.png" alt="Image" class="sidebar-2-image" id="sidebar2-logoicon">
    </div>
    <div class="sidebar-2-user">
        <i class="far fa-user-circle sidebar-2-icon sidebar-2-usericon"></i><span class="sidebar-2-username">Welcome , </span> <br> <span class="sidebar-2-username1">@userData.DisplayName </span>  <span class="sidebar-2-username2">@userData.PositionName </span>
    </div>
    <ul class="sidebar2-ul">
        <li><a href="/" class="sidebar2-selection"><i class="fas fa-home sidebar-2-icon"></i><span class="sidebar-2-nav-item">Home</span></a></li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#InventorySystem" aria-expanded="false" aria-controls="InventorySystem" class="collapsible sidebar2-selection collapsible-main">
                <i class="fas fa-display sidebar-2-icon"></i> <span class="sidebar-2-nav-item">Inventory System</span>
            </a>
            <div id="InventorySystem" class="collapse ui-submenu" aria-labelledby="headingOne">
                <div>
                    <ul>
                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#UM1" aria-expanded="false" aria-controls="UM1" class="collapsible">
                                <i class="fas fa-cube"></i>Master
                            </a>
                            <div id="UM1" class="collapse ui-submenu" aria-labelledby="headingone">
                                <div>
                                    <ul>
                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/inventory/master"><i class="fas fa-user"></i>Inventory Master</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

    
        <li>
            <a href="#" data-toggle="collapse" data-target="#ProductionSystem" aria-expanded="false" aria-controls="ProductionSystem" class="collapsible sidebar2-selection collapsible-main">
                <i class="fas fa-display sidebar-2-icon"></i> <span class="sidebar-2-nav-item">Production System</span>
            </a>
            <div id="ProductionSystem" class="collapse ui-submenu" aria-labelledby="headingOne">
                <div>
                    <ul>
                        <li class="accordion">
                            <a href="#" data-toggle="collapse" data-target="#UM1" aria-expanded="false" aria-controls="UM1" class="collapsible">
                                <i class="fas fa-cube"></i>Master
                            </a>
                            <div id="UM1" class="collapse ui-submenu" aria-labelledby="headingone">
                                <div>
                                    <ul>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms010">
                                                <i class="fas fa-user"></i> Plant Master
                                            </a>
                                        </li>


                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms020">
                                                <i class="fas fa-user"></i> Process Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms030">
                                                <i class="fas fa-user"></i> Line Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms050">
                                                <i class="fas fa-user"></i> Shift Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms052">
                                                <i class="fas fa-user"></i> Shift Time
                                            </a>
                                        </li>
                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms070">
                                                <i class="fas fa-user"></i> Machine Stop Reason Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms080">
                                                <i class="fas fa-user"></i> NG Master
                                            </a>
                                        </li>

                                        <li>
                                            <a class="sub-menu" ria-expanded="false" title="Master" href="/production/master/pms100">
                                                <i class="fas fa-user"></i> FG Master
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        @* /production/master/pms020 *@


       

        <li><a href="@Url.Action("Logout", "Account",new { area = "" })" class="sidebar2-selection"><i class="fas fa-sign-out-alt sidebar-2-icon" style="left:0.1px;"></i><span class="sidebar-2-nav-item">Logout</span></a></li>


    </ul>

    <span class="sidebar-2-info">Version 1.02 </span>
    <br>
    <span class="sidebar-2-info1">Last Update : @AssemblyHelper.LastWriteTime(typeof(WEB.APP.Controllers.AppControllerBase).Assembly).ToString("d MMM yyyy HH:mm") </span>

</nav>