fieldset.scheduler-border {
    padding: 0 1.4em 1.4em 1.4em !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.grid-display-none {
    display: none;
}

.text-color-red {
    color: red;
}

.set-text-table {

    margin:0;
    /*padding:0;*/
}



/* Kendo Number Grid */

.k-dirty {
    display: none;
}

.k-select .k-link.k-link-increase {
    display: none;
}

.k-select .k-link.k-link-decrease {
    display: none;
}
.k-numeric-wrap.k-state-default .k-select {
    display: none;
}


.empty-grid::before {
    padding: 1em;
    line-height: 3em;
    content: "No Data" !important;
}






.table-set-ipput-text {
    margin: 0;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}


.k-widget.k-dropdown.set-text-table {
    width: 100% !important;
}
.k-widget.k-textbox.set-text-table {
    width: 100% !important;

}

.delete-padding-right {
    padding-right: 1px !important;
}

.delete-padding-left {
    padding-left: 1px !important;
}



label.col-form-label.col-1.label-dete {
    margin-top: -10px;
}



.hide-btn-delete-tab {

    /*display:none;*/
}

table.table-bordered thead tr {
    background-color: #9BC2E6;
    text-align: center;

}
table.table-bordered thead tr th {
    vertical-align: middle !important;
}


table.table-bordered thead tr th .formular-input{
    vertical-align: middle !important;
}


table.table-bordered tbody tr {
    background-color: #DDEBF7;
    text-align: center;
}



table.table-bordered tbody tr td.formular-input {
    background-color: #DBDBDB !important;
    text-align: center;
    width:220px
}


.table-bordered td, .table-bordered th {
    border: 1px solid #00000029 !important;
}


.card-result {
    margin-top: -15px;
    height: 76px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle !important;
}


.card-result-formular {
    background-color: #9BC2E6;
  
}



.img-search-data {
    width: 13rem;
}
.row-by-peaw {
    display: flex !important;
}


tr.k-footer-template td span.k-widget.k-dropdown {
    width: 100%;
}


.status-pass {
    color: green;
}
.status-ncr {
    color: red;
}

.status-ocl {
    color: #FFC000;
}

.k-grid-footer td {
    background-color: #bbb5b500 !important;

}
.grid-sample {
    height: 40px !important;
}



.k-checkbox {
    border-radius: .25rem;
  /*  margin: 0;
    padding: 0;*/
    width: 1rem;
    height: 1rem;
    /*line-height: initial;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;*/
}

.ui-submenu {

    margin-left:40px;
}

aside .side-inner .nav-menu .ui-submenu ul li a:before {
    background-color: #08e4ff !important;
}


.k-grid .k-grid-edit, .k-grid .k-grid-info {
    color: white;
    background-color: #11439E !important;
}

.background-loading {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12000;
}






/* ---------------------------------------------------
    loading STYLE
----------------------------------------------------- */
@keyframes ldio-xhmm28kfnl {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-xhmm28kfnl div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-xhmm28kfnl linear 1s infinite;
    background: #34a4e4;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

    .ldio-xhmm28kfnl div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.9166666666666666s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -0.8333333333333334s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.75s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.5833333333333334s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.5s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.4166666666666667s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.3333333333333333s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.25s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.16666666666666666s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.08333333333333333s;
        background: #34a4e4;
    }

    .ldio-xhmm28kfnl div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #34a4e4;
    }

.loadingio-spinner-spinner-mzf1gu50i5s {
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline-block;
    overflow: hidden;
    background: none;
    background: #222;
}

.ldio-xhmm28kfnl {
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10vh;
    margin-left: -5vw;
    z-index: 1200;
}

    .ldio-xhmm28kfnl div {
        box-sizing: content-box;
    }

.background-loading {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12000;
}
/* ---------------------------------------------------
    loading STYLE
----------------------------------------------------- */


.empty-grid::before {
    padding: 1em;
    line-height: 3em;
    content: "No Data" !important;
}

.empty-grid {
    text-align: center;
    width: 100%;
    font-size: 18px;
}




#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10049;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.disabled-input-screen-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10049;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.d-hidden {
    visibility: hidden;
}

.text-right {
    text-align: right;
}



.font-mode-label {
    font-weight: 600;
}

.font-mode-text {
    font-weight: 400;
}