@{
    Layout = "_ErrorLayout";
}
<div class="error-box">
    <div class="error-body text-center">
        <h1 class="error-title text-info">500</h1>
        <h3 class="text-uppercase error-subtitle">INTERNAL SERVER ERROR</h3>
        <p class="text-muted mt-4 mb-4 text-uppercase">PLEASE TRY AFTER SOME TIME</p>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger btn-rounded waves-effect waves-light mb-5 text-uppercase">Back to home</a>
    </div>
</div>